<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>fiilter.CheckLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/shopBag.jsp</url-pattern>
        <url-pattern>/CheckOutServlet</url-pattern>
        <url-pattern>/SendEmailOrder</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInfoProductServlet</servlet-name>
        <servlet-class>controller.ShowInfoProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllServlet</servlet-name>
        <servlet-class>controller.AllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowWishListServlet</servlet-name>
        <servlet-class>controller.ShowWishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWishListServlet</servlet-name>
        <servlet-class>controller.ListWishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddToBag</servlet-name>
        <servlet-class>controller.ShowAddToBag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>controller.PromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBagServlet</servlet-name>
        <servlet-class>controller.ListBagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>    
        <servlet-name>managementUser</servlet-name>
        <servlet-class>controller.managementUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailOrder</servlet-name>
        <servlet-class>controller.SendEmailOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInfoProductServlet</servlet-name>
        <url-pattern>/ShowInfoProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllServlet</servlet-name>
        <url-pattern>/AllServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowWishListServlet</servlet-name>
        <url-pattern>/ShowWishListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWishListServlet</servlet-name>
        <url-pattern>/ListWishListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddToBag</servlet-name>
        <url-pattern>/ShowAddToBag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/PromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBagServlet</servlet-name>
        <url-pattern>/ListBagServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managementUser</servlet-name>
        <url-pattern>/managementUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managementUser</servlet-name>
        <url-pattern>/admin/managementUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailOrder</servlet-name>
        <url-pattern>/SendEmailOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
